<%- model_class = Atelier -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:titre) %></th>
      <th><%= model_class.human_attribute_name(:presente_par) %></th>
      <th><%= model_class.human_attribute_name(:entreprise) %></th>
      <th><%= model_class.human_attribute_name(:salle_id) %></th>
      <th><%= model_class.human_attribute_name(:heure_debut) %></th>
      <th><%= model_class.human_attribute_name(:heure_fin) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ateliers.each do |atelier| %>
      <tr>
        <td><%= link_to atelier.id, atelier_path(atelier) %></td>
        <td><%= atelier.titre %></td>
        <td><%= atelier.presente_par %></td>
        <td><%= atelier.entreprise %></td>
        <td><%= atelier.salle.nom %></td>
        <td><%=l atelier.heure_debut, format: :short %></td>
        <td><%=l atelier.heure_fin, format: :short %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_atelier_path(atelier), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      atelier_path(atelier),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_atelier_path,
            :class => 'btn btn-primary' %>
